<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet" />
    <title>Timeoff request</title>
</head>

<body style="background-color: #ffffff; margin: 0; padding: 0">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%">
        <tbody>
            <tr>
                <td style="display: block; width: 600px; max-width: 600px;margin: 0 auto; padding: 60px 18px 96px 18px;box-sizing: border-box;">
                    <table style="border-collapse: separate; width: 100%">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border-collapse: separate; width: 100%">
                                        <tbody>
                                            <tr>
                                                <td style="word-break: break-all;padding-bottom: 8px;line-height: 34px;font-family: 'Source Sans Pro', sans-serif;font-size: 28px;color: #2c2c2c;font-weight: 600;">
                                                    Hi HR Department,
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-bottom: 32px;padding-top: 16px;font-family: 'Source Sans Pro', sans-serif;font-size: 16px;line-height: 24px;color: #2c2c2c;">
                                                    <p style="font-size: 16px;line-height: 24px;color: #2c2c2c;font-family: 'Source Sans Pro', sans-serif;margin-top: 0;margin-bottom: 4px;">
                                                        There has been made a timeoff request from {0}!
                                                    </p>
                                                    <p>
                                                        From <b>{2}</b> to <b>{3}</b>
                                                    </p>
                                                    <p>
                                                        <b>Reason</b>: <i>{4}</i>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-bottom: 16px">
                                                    <button style="
                                display: inline-block;
                                min-width: 260px;
                                height: 50px;
                                margin: 0;
                                padding: 0 16px;
                                background-color: #1d79f2;
                                border-radius: 4px;
                                font-family: 'Source Sans Pro', sans-serif;
                                font-size: 16px;
                                color: #ffffff;
                                font-weight: 500;
                                text-decoration: none;
                                line-height: 50px;
                                text-align: center;
                              " target="_blank">
                                                        <b>Timeoff request type: {1}</b>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>
                                                        Request made at date: {5}
                                                    </p>
                                                    <b>P.S. </b>Please Approve or Deny as fast as possible!
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>